---
layout: archive
title: "Peers"
permalink: /peers/
---

InTouch Peers are purposfully spread throughout the departments and buildings of SEAS, and encourage you to start up a casual conversation.
We are trained in informal mentoring and conflict management and are knowledgeable about resources within and outside of Harvard.
Feel free to say hello and introduce yourself any time (you never need a reason).
In particular, feel free to email any one of us and join our regular bi-weekly coffee after lunch. 


{% for s in site.data.people %}
  <h2>{{ s.section }}</h2>

  <div class='people'>
    {% for p in s.members %}
      <div class='person' tabindex='0' {% if p.blurb %} data-tippy-content='{{ p.blurb }}' {% endif %}>
        <div class='person__image'>
          {% if p.hover %}
            <img class='person__image__hover' src='{{ site.url }}{{ p.hover }}'>
          {% endif %}
          <img class='person__image__headshot' src='{{ site.url }}{{ p.image }}'>
        </div>

        <div class='person__name'>
          {% if p.site %}
            <a href='{{ p.site }}' target='_blank'>{{ p.name }}</a>
          {% else %}
            {{ p.name }}
          {% endif %}
        </div>
        <div class='person__title'>{{ p.title }}</div>
        <div class='person__title'>{{ p.email }}</div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
